<div class="emoji-picker-wrapper
  {{if model.emojis.limitOptions 'emoji-picker-wrapper--limited'}}
  {{if model.emojis.active       'emoji-picker-wrapper--active'}}">
  {{retort-picker
    active=model.emojis.active
    emojiSelected=model.emojis.onSelect
    automaticPositioning=false
  }}
</div>
