<div class="post-retorts">
  {{#each retort in retorts}}
    <div class="post-retort">
      <img src="/images/emoji/emoji_one/{{retort.emoji}}.png" class="emoji" title="{{retort.username}}" alt=":{{retort.emoji}}:">
    </div>
  {{/each}}
</div>
