<div class="retort__emoji-picker-wrapper
  {{if limitOptions 'retort__emoji-picker-wrapper--limited'}}
  {{if active       'retort__emoji-picker-wrapper--active'}}">
  {{retort-picker
    active=active
    emojiSelected=onSelect
    automaticPositioning=false}}
</div>
