// .topic-post .topic-body { z-index: 3; }

.post-retort {
  float: left;
  padding: 2px;
  z-index: 1;
  margin: 20px 2px;
  position: relative;
  outline: 0;

  &:hover .post-retort__tooltip { opacity: 1 }

  &__tooltip {
    opacity: 0;
    transition: .5s opacity;
    position: absolute;
    bottom: 30px;
    font-size: 12px;
    text-align: center;
    min-width: 125px;
    max-width: 150px;
    background: $primary;
    color: $secondary;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    word-wrap: normal;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    pointer-events: none;
    word-break: break-word;
    &:after {
      content: ' ';
      width: 7px;
      height: 7px;
      bottom: -5px;
      left: 50%;
      transform: rotate(45deg) translate(-50%, 0);
      position: absolute;
      background: $primary;
    }
  }

  &__count {
    font-size: 12px;
    padding: 1px;
    position: relative;
    bottom: 3px;
    left: 1px;
    font-weight: bold;
    color: $secondary;
  }
}

.emoji-picker--retort {
  display: flex;
  align-items: center;
  justify-content: center;

  &-active {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;

    .emoji-picker {
      bottom: auto !important;
    }
  }

  &-limited {
    .emoji-picker {
      width: auto !important;
      height: auto !important;
      flex-wrap: wrap;
      justify-content: center;
      border: 0;
      margin-top: 80px;
      
      .limited-emoji-set {
        display: flex;
      }
      
      img.emoji {
        display: block;
        margin: 0 10px 0 0;
        padding: 0;
        cursor: pointer;
      }
    }

    .categories-column {
      display: none;
    }
  }
}
