// .topic-post .topic-body { z-index: 3; }

.post-retort {
  float: left;
  padding: 2px;
  z-index: 1;
  margin: 20px 2px;
  position: relative;
  outline: 0;

  &:hover .post-retort__tooltip { opacity: 1 }

  &__tooltip {
    opacity: 0;
    transition: .5s opacity;
    position: absolute;
    bottom: 30px;
    font-size: 12px;
    text-align: center;
    min-width: 125px;
    max-width: 150px;
    background: $primary;
    color: $secondary;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    word-wrap: normal;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    pointer-events: none;
    word-break: break-word;
    &:after {
      content: ' ';
      width: 7px;
      height: 7px;
      bottom: -5px;
      left: 50%;
      transform: rotate(45deg) translate(-50%, 0);
      position: absolute;
      background: $primary;
    }
  }

  &__count {
    font-size: 12px;
    padding: 1px;
    position: relative;
    bottom: 3px;
    left: 1px;
    font-weight: bold;
    color: $secondary;
  }
}

.emoji-picker.has-limited-set {
  height: auto;
  width: auto;
  padding: 10px;
  
  .limited-emoji-set {
    display: flex;
  }
  
  img.emoji {
    margin-right: 10px;
    cursor: pointer;
    
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.mobile-view .emoji-picker.has-limited-set {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
