.topic-body {
  overflow: visible;
}

.post-retort {
  background: #dfdfff;
  float: left;
  padding: 2px;
  margin: 2px;
  border-radius: 5px;
  border: 1px solid #ccf;
  position: relative;
  outline: 0;
}

.post-menu-area {
  clear: both;
}

.post-retort:hover .post-retort-tooltip {
  opacity: 1;
}

.post-retort-count {
  font-size: 12px;
  padding: 1px;
  position: relative;
  bottom: 3px;
  left: 1px;
  font-weight: bold;
  color: #777;
}

.post-retort-tooltip {
  opacity: 0;
  transition: .5s opacity;
  position: absolute;
  top: 30px;
  font-size: 12px;
  text-align: center;
  width: 140px;
  background: black;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  word-wrap: normal;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  pointer-events: none;
  &:after {
    content: ' ';
    width: 7px;
    height: 7px;
    top: 0;
    left: 50%;
    transform: rotate(45deg) translate(-50%, 0);
    position: absolute;
    background: black;
  }
}

.retort-selector {
  background-color: transparent;
  pointer-events: none;
  .emoji-table-wrapper {
    min-height: initial;
    min-width: initial;
    background-color: transparent;
  }
  .emoji-page {
    background: white;
    pointer-events: all;
    tr {
      display: flex;
      justify-content: space-around;
      a {
        margin: 10px;
        img.emoji {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  img.emoji {
    width: 40px;
    height: 40px;
  }
  .toolbar, .info, .nav, .clearfix, .footer { display: none; }
}

@media (max-width: 700px) {
  .retort-selector .emoji-page tr a img.emoji {
    width: 25px;
    height: 25px;
  }
}
